<footer class="footer">
    <span class="footer__copyright">感谢<a href="http://im.onevcat.com">@onevcat</a> 提供的主题 <a href="https://github.com/DeveloperPans/vno.git">Vno</a></span>
    <span class="footer__copyright">&copy; {{date format="YYYY"}}  All rights reserved.  <a href="http://www.miitbeian.gov.cn/">浙ICP备15035859号</a> </span>
</footer>