<footer class="footer">

    <span class="footer__copyright">&copy; {{date format="YYYY"}} 本站采用 <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">知识共享 署名-非商业性使用-相同方式共享 4.0 国际</a> 许可协议。允许保持署名及原文链接转载，不得用于商业目的  </span>
    <span class="footer__copyright">感谢<a href="http://im.onevcat.com">@onevcat</a> 提供的主题 <a href="https://github.com/DeveloperPans/vno.git">Vno</a></span>
    <span class="footer__copyright"> <a href="http://www.miitbeian.gov.cn/">浙ICP备15035859号</a> </span>
</footer>